html
{
    background-color: rgb(37, 37, 37);
    color: snow;
    text-shadow: 1px rgb(236, 10, 67);
    max-width: 100%;
}
body
{
    text-align: center;
    height: 100%;
    width: 100%;
}
.topMenu
{
    width: 25%;
    min-width: 25%;
    margin: auto;
    height: 10vh;
    text-align: center;
    float: left;
    font-size: 3vw;
    background-color: rgb(236, 10, 67);
}
s
{
    font-size: 50%;
}
img
{
    width: 40%;
}
a:link 
{
    font-family: ff-good-headline-web-pro-ext;
    font-weight: 900;
    font-size: 17;
    color: #333d3c;
    text-decoration: none;
}
a:visited 
{
    font-family: ff-good-headline-web-pro-ext;
    font-weight: 900;
    color: #333d3c;
    text-decoration: none;
}
a:hover 
{
    font-family: ff-good-headline-web-pro-ext;
    font-weight: 900;
    color: #333d3c;
    text-decoration: none;
}
a:active 
{
    font-family: ff-good-headline-web-pro-ext;
    font-weight: 900;
    color: #333d3c;
    text-decoration: none;
}