<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="portfolio">
        <meta name="author" content="Krzysztof Hodun">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{url_for('static', filename='favicon.jpg')}}">
        <link rel="stylesheet" href="https://use.typekit.net/mxt0jbh.css">
        <link type="text/css" href="{{url_for('static', filename='style.css')}}" rel="stylesheet" >
        <title>
            Gallery
        </title>
    </head>
    <body>
        <div class="topMenu">
            <a href="{{ url_for('index') }}">
                Home
            </a>
        </div>
        <div class="topMenu">
            <a href="{{ url_for('aboutme') }}">
                About me
            </a>
        </div>
        <div class="topMenu">
            <a href="{{ url_for('gallery') }}">
                Gallery
            </a>
        </div>
        <div class="topMenu">
            <a href="{{ url_for('contact') }}">
                Contact
            </a>
        </div>
        <h1>
            Gallery
        </h1>
        <p>
            Have some memes man.
        </p>
        <p>
            cuz obviously.<br>
            <s>
                memes.
            </s>
        </p>
        <p>
            <img src="{{url_for('static', filename='photo_2021-05-29_22-11-30.jpg')}}"></a>
        </p>
        <p>
            <img src="{{url_for('static', filename='photo_2021-05-29_22-10-47.jpg')}}"></a>
        </p>
        <p>
            <img src="{{url_for('static', filename='photo_2021-05-30_10-06-37.jpg')}}"></a>
        </p>
    </body>
</html>